<ion-header>
  <ion-toolbar>
    <a (click)="goBack()"><ion-icon name="arrow-back-sharp" slot="end"></ion-icon></a><ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/geral" class="a1">
    <ion-item button detail="true">
      <ion-label>
        <h3>Geral</h3>
      </ion-label>
    </ion-item>
  </a>
  <a routerLink="/tabs/tabs/tab4" class="a1">
    <ion-item button detail="true">
      <ion-label>
        <h3>Notificações (não funcional)</h3>
      </ion-label>
    </ion-item>
  </a>
</ion-content>
