
<ion-toolbar>
  <ion-item class="div-img"><img src="assets/img/Logo Stok.png"><a routerLink="/carrinho" slot="end"><ion-icon name="cart-sharp" slot="end"></ion-icon></a></ion-item>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <h3>Olá, tccparanoa!</h3>
  <hr/>
  <br>
  <div class="banner">
    <img src="assets\img\Tela StokSecurity.png" alt="banner">
  </div>

  <h4>Dicas de Segurança</h4>
  <br>

  <ion-card>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-thumbnail>
            <ion-icon name="ellipse-sharp"></ion-icon>
          </ion-thumbnail>
          <ion-label>Ao entrar na área de produção, certifique-se de que está utilizando os EPIs necessários para cada atividade.</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail>
            <ion-icon name="ellipse-sharp"></ion-icon>
          </ion-thumbnail>
          <ion-label>Solicite um novo EPI assim que o EPI atual ficar impróprio para uso</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
